.map-wrapper {
    padding: 0;
    float: right;
    width: 100%;
    margin: 0 0 0 0;
    
}

#map { 
    height: 85vh;
    width: 100vw;
}

body {
    
    
} 

#setStart{
    border-radius: 25px;
    border: 2px solid #6f746c;
    padding: 20px; 
}

#setTarget{
    border-radius: 25px;
    border: 2px solid #6f746c;
    padding: 20px; 
}

#setStop1, #setStop2, #setStop3, #setStop4 {
    border-radius: 25px;
    border: 2px solid #6f746c;
    padding: 20px;   
    background-color: #7e7d7d;
}

.navbar{
    height: 45px;
}

#barButton {
    padding-top:20px;
}

#mySidebar {
    padding-top:25px;
}

#myForm {
    padding-right:10px;
}

#addStop {
    padding-top:2px
}

#addStopDiv, #removeStopDiv, #requestRoute, #removeLineDiv, #requestDownloadDiv {
    border-radius: 25px;
    border: 2px solid #6f746c;
    padding: 20px; 
}

.home, .about {
    padding-top:20px;
}