{% extends "components/base.html" %} 
{% set active_page = "about" %} 

{% block content %} 

<div class="about">

	<h2> Drone Route Planner about page.</h2>

    <dt>To use this tool please follow the instruction below:</dt>
	<p></p>
	<p>1. Navigate to the map page</p>
	<p>2. Place a marker</p>
	<p>3. Select the set start node button in the sidebar</p>
	<p>4. Place another marker</p>
	<p>5. Select the set target node button in the sidebar</p>
	<p>6. Confirm the path looks correct using the purple preview line that will be on your screen</p>
	<p>7. If your happy with the route select Request Route</p>
	<p>8. After a few seconds a route should appear</p>
</div>
{% endblock %}