{% extends "components/base.html" %} 
{% set active_page = "map" %} 

{% block content %} 
<div id="content"> </div>
        <div class="w3-sidebar w3-bar-block w3-animate-left w3-card w3-grey" style="width:25%;" id="mySidebar">
          <button class="w3-bar-item w3-button w3-large"
          onclick="w3_close()">Close &times;</button>
          <div id="setStart">
            <p>Start Node:</p>
            <span id="startNode"></span>
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="setStart()" id="startButton">Set start node</button>
          </div>

          <div id="setStop1" style="display:none;">
            <p>Stop 1 Node:</p>
            <span id="stop1Node"></span>
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="setStop1()" id="stop1Button">Set target node</button>
          </div>

          <div id="setStop2" style="display:none;">
            <p>Stop 2 Node:</p>
            <span id="stop2Node"></span>
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="setStop2()" id="stop2Button">Set target node</button>
          </div>

          <div id="setStop3" style="display:none;">
            <p>Stop 3 Node:</p>
            <span id="stop3Node"></span>
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="setStop3()" id="stop3Button">Set target node</button>
          </div>

          <div id="setStop4" style="display:none;">
            <p>Stop 4 Node:</p>
            <span id="stop4Node"></span>
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="setStop4()" id="stop4Button">Set target node</button>
          </div>

          <div id="setTarget">
            <p>Target Node:</p>
            <span id="targetNode"></span>
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="setTarget()" id="targetButton">Set target node</button>
          </div>


          <div id="addStopDiv">
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="addStop()" id="addStop">Add stop to route</button>
          </div>

          <div id="removeStopDiv">
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="removeStop()" id="removeStop">Remove stop from route</button>
          </div>



          <!--<a href="#" class="w3-bar-item w3-button">Link 3</a> -->
          <div id="requestRoute">
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="fireRequest()" id="fireButton">Request Route</button>
          </div>

          <div id="removeLineDiv" style="display:none;">
            <button href="#" class="w3-bar-item w3-button" style="width:100%;" onclick="removeLine()" id="removeLine">Remove currently displayed line</button>
          </div>

          <div id="requestDownloadDiv" style="display:none;">
            <form action="/getRoute">
                <input type="submit" value="Download Path as CSV" class="w3-bar-item w3-button" id="requestDownload"/>
            </form>
          </div>

          <div id="requestForm" style="visibility:hidden;"> 
            <form id="myForm" action="/requestPath" method="post"> 
                <input type="hidden" id="stNode" name="stNode" value="">
                <input type="hidden" id="1Node" name="1Node" value="">
                <input type="hidden" id="2Node" name="2Node" value="">
                <input type="hidden" id="3Node" name="3Node" value="">
                <input type="hidden" id="4Node" name="4Node" value="">
                <input type="hidden" id="tgtNode" name="tgtNode" value="">
                <input type="submit" name="action" value="Submit" id="fireButton">
            </form>
          </div>

        </div>
   
        <div class="w3-grey" style="width:100%;" id="barButton">
          <button class="w3-button w3-grey w3-xlarge" onclick="w3_open()">&#9776;</button>
          <form id="myForm" action="/mapAuth" method="post" style="float:right;margin:10px 0 0 0;">
            <input type="text" name="userName" id="userName" value="{{username}}" >
            <input type="submit" name="submitLogin" value="Select Farm" id="submitLogin">
        </form>
          
        </div>
              


        <div class="map-wrapper" id="maper">
            <div id="map">
            </div>
        </div>

        <script type= "text/javascript">
        var currentLocation = [];
        var startingNode = [];
        var targetedNode = [];
        
        var path = {{path}};

        var startMarker;
        var targetMarker; 
        var marker1;
        var marker2;
        var marker3;
        var marker4;
        
        var previewLine;
        var previewLine1;
        var previewLine2;
        var previewLine3;
        var previewLine4;
        var stopCounter = 0;
        var node1 = [0,0];
        var node2 = [0,0];
        var node3 = [0,0];
        var node4 = [0,0];


        document.getElementById("startNode").innerHTML = "Unselected"
        document.getElementById("targetNode").innerHTML = "Unselected"
        document.getElementById("stop1Node").innerHTML = "Unselected"
        document.getElementById("stop2Node").innerHTML = "Unselected"
        document.getElementById("stop3Node").innerHTML = "Unselected"
        document.getElementById("stop4Node").innerHTML = "Unselected"

        w3_close()
	    //var bound = JSON.parse('{{ boundaries | tojson}}');
        var marker;
	    var bound = JSON.parse({{ boundaries | tojson}});
        //console.log(bound);
        var map = L.map('map').setView([50.71, -2.44], 13);
        

	    var popup = L.popup();
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

	    
	    for(let i = 0; i < bound.length; i++) {
    		//console.log(bound["features"][i]["properties"]["Name"])
		    //var polygondata = bound["features"][i]["geometry"]["coordinates"];
            var polygondata = bound[i]["geometry"]["coordinates"];
	
            polygondata[0].forEach(function (item, index) {
                polygondata[0][index] = L.GeoJSON.coordsToLatLng(polygondata[0][index])
            });

            var polygon = L.polygon(
            polygondata[0]
            ).addTo(map);
            if (bound[i]["properties"]["boundaryType"] == "obstacle"){
                polygon.setStyle({fillColor:"#FF0000"});
                polygon.bringToFront();
            }
            if (bound[i]["properties"]["boundaryType"] == "property"){
                map.fitBounds(polygon.getBounds());
                polygon.on("click", function (event){
                    //console.log(event.latlng.lat + ", " + event.latlng.lng);
                    currentLocation = [event.latlng.lat, event.latlng.lng]
                    if(marker) {
                        map.removeLayer(marker);
                    }
            marker = new L.marker([event.latlng.lat, event.latlng.lng], {icon: defaultIcon}).addTo(map);
        })
            }
		    //polygon.bindPopup(bound["features"][i]["properties"]["desc"]);
            polygon.on("click", function (event) {
                map.fire("click", event);
            });
		
	    };

        
        if (path.length != 1){
            //console.log("run")
            var pointLine = [];
            for(let i = 0; i<path.length; i++) {
                cord = path[i];
                coord = new L.latLng(cord[1], cord[0]);
                pointLine.push(coord);
            
            };
            var line = new L.Polyline(pointLine, {
                color: "red",
                weight: 3,
            });
            line.addTo(map);
            
            
        };

        if(line){
            document.getElementById("removeLineDiv").style.display = "block";
            document.getElementById("requestDownloadDiv").style.display = "block";
        }

        </script>
</div>
{% endblock %}