<!DOCTYPE html>
	<head>

	<meta name="author" content="Callum Blair">
	<link href="static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
	<link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/leaflet.css"/>
    <script src="static/leaflet.js"></script>
	<script src="static/icons.js"></script>
	<script src="static/route.js"></script>
	<script src="static/sidebar.js"></script>
	<title>Drone Route Planner</title> 

	{% set active_page = active_page|default('home') -%}  
    {% set navigation_bar = [('/', 'home', 'Home'), ('/about', 'about', 'About'), ('/map','map','Map')] -%}
	

	</head>
	<body>
		{% include "components/nav.html" %}
		
		<main>

				{% block content %} 
      		{% endblock %} 
		
		</main>
	</body>
</html>